
/*Header Starts..................................................................*/
header
{
	height: 75px;
	width: 100%;
	background-color: #252525;
}
.navbar,.navbar-default
{
	height: 100%;
	margin-bottom: 0px!important;
	background-color: transparent!important;
	border: none!important;

}
.navbar-brand
{
	padding:6px 10px!important;
}
#lawyered-logo
{
	display: inline-block;
	margin-top: 10px;
	float: left;
	height: 38px;
	width: 115px;
}
.container-fluid,
.navbar-header,
.navbar-brand,
.navbar-nav,
.navbar-right,
.nav
{
	height: 100%!important;
}


.links-a
{
	display: inline!important;
	text-transform: uppercase;
	color: #fff!important;
	font-size: 73.9%;
	font-weight: 600;
	letter-spacing:2px;
	line-height: 74px!important;
}
.top-links .header-pic 
{
	padding: 0px;
}
.header-pic img
{
	margin-top: -18px;
}

.navbar-nav li:hover
{
	
	
}
.links-a:hover
{
	color:#41dbeb!important;
	transition:all .5s ease-in-out;
}

.popover
{
	max-width: none;
	width: 250px;
	position: absolute;
	 
}

.popover-content 
{
	font-size: 20px;
}


.button2
{
	display: inline-block;
	margin-top: 15px;
}
.button2.btn,.button2 .btn
{
	padding: 6px 12px 6px 12px;
	border-radius: 0px;
	text-transform: uppercase;
	background-color: #eb6a2b!important;
	color: #fff!important;
	font-size: 11px;
	letter-spacing: 2px;
	font-weight: bold;

}
.button2.btn-default,.button2 .btn-default
{
	border-color: transparent!important;
}

/* Popover starts.....................................................................*/

.pop-up-header
{
	padding: 10px 10px 0px 20px;
	height: 60px;
	background-color: #333333;
}

.pop-up-header span
{
	position: relative;
	top: -8px;
	color:#fff;
	font-style: italic;
	font-size: 9px;
	font-weight: bold;
}
.lawyered-logo
{
	height: 28px;
	width: 90px;
}
.close
{
	color:white;
}
.close-butt
{
	float: right;
}
.pop-up-body
{
	padding: 36px 0px 20px 0px;
	background-color: #f2f2f2;
	overflow: hidden;
}
.customer-signup,
.lawyers-signup
{
	width: 49%;
	float: left;
	
}
.customer-signup
{
	padding-left: 20px;
	padding-right: 30px;
	
	border-right: 2px solid #D3D3D3;
}
.customer-signup p,
.lawyers-signup p
{
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;

}

.sign-in-form
{
	overflow: hidden;
}
.sign-in-form a
{
	float: right;
	font-size: 11px;
	font-style: italic;
}
.lawyers-signup
{
	padding-left: 30px;
	padding-right: 20px;
}
.lawyers-signup a,
.lawyers-signup span
{
	font-style: italic;
	font-size: 13px;
}

