#main{
	margin-top: 5%;
}
h3{
	color: #252525;
	letter-spacing: 3px;
	font-weight: bold;
}
#info-txt{
	margin-top: 5%;
}
#info-txt > p > span{
	text-align: right;
	float: right;
	font-weight: normal;
}
#info-txt > p{
	font-weight: bold;
	line-height: 5px;
}

#grey-block{
	background-color: #f2f2f2;
	margin-top: 13%;
	padding: 5% 5% 5% 7%;
}
#grey-block > p{
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 2px;
	color: #252525;
}
#grey-block > img{
	width :25%;
}
#grey-block > span{
	letter-spacing: 2px;

}
#grey-block > a{
	color: #EB6A2B;
	font-weight: bold;
	letter-spacing: 2px;
	text-decoration: underline;
	padding-left: 10%;

}


/*footer ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

footer{
	background-color: #252525;
	margin-top: 20%;
	height: 90%;
	padding-top: 5%;
	padding-bottom: 3%;
}

.block-text{
	font-size : 14px;
	color: white;
	font-family: 'Montserrat';
	line-height: 25px;
	letter-spacing: 1px;
	/*line-height: 20px;*/


}
.block-header{
	font-size: 15px;
	color: #1FE4F8;
	font-family: 'Montserrat';
	letter-spacing: 1px;
	word-spacing: 1px;
	font-weight: bold;

}

#footer-logo{
	padding-left: 2%; 
}
#phn-number{
	color : #eee;
	font-size: 20px;
}
#second > hr{
	border-color: grey;
	border-width : 2px;
}

#input-field{
	padding-right: 3%;
	width : 50%;
}

#input-txt{
	padding-left: 3%;
	padding-top: 4%;
	padding-bottom: 4%;
	width : 150%;
}

.social-txt > span{
	color: #1FE4F8;
	letter-spacing: 2px;
	word-spacing: 1px;
	font-weight: bold;

}

#terms-txt{
	color: #e0e0e0;
	font-size: 12px;

}