
body
{
	color: #727373!important;
	font-family: Ubuntu!important;
	text-align: justify;
}

h1,h2,h3{
	font-family: Arvo!important;
	font-weight: bold;
	letter-spacing: 3px;
}
p,h4,h5,h6{
	font-family: Ubuntu!important;
}






#heading{
	/*margin-top: 5%;*/
	font-size: 26px;
	color: #252525;
	font-weight: bold;
}
#one{
	margin-top: 5%;
}
.tick
#heading > span{
	letter-spacing: 4px;
	font-family: arvo;
	vertical-align: middle;
}

#tab-img{
	position: absolute;
	top : -112px;
}

#two{
	margin-top: 10%;
	position: relative;
	background-color: #c1f9ff;
	padding-top: 3%;
	padding-bottom: 3%;
}


#client-txt{
	margin-top: 5%;
}

#client-txt > h3{
	color: #252525;
	font-weight: bold;
	letter-spacing: 3px;
	margin-bottom: 4%;
}

#client-txt > span{
	font-size: 21px;
	color: #252525;
	letter-spacing: 3px;

}

/*footer ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

footer{
	background-color: #252525;
	/*margin-top: 20%;*/
	height: 90%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.block-text{
	font-size : 14px;
	color: white;
	font-family: 'Montserrat';
	line-height: 25px;
	letter-spacing: 2px;
	/*line-height: 20px;*/
}

.block-header{
	font-size: 15px;
	color: #1FE4F8;
	font-family: 'Montserrat';
	letter-spacing: 1px;
	word-spacing: 1px;
	font-weight: bold;

}

#footer-logo{
	padding-left: 2%;

}
#phn-number{
	color : #eee;
	font-size: 20px;
}
.col-sm-12 > hr{
	border-color: #f2f2f2;
	border-width : 1px;
}

#input-field{
	padding-right: 3%;
	width : 50%;
}

#input-txt{
	padding-left: 3%;
	padding-top: 4%;
	padding-bottom: 4%;
	width : 160%;
}

.social-txt > span{
	color: #1FE4F8;
	letter-spacing: 2px;
	word-spacing: 1px;
	font-weight: bold;
	/*margin-left: 10%;*/
	line-height: 10px;

}


#terms-txt{
	color: #e0e0e0;
	font-size: 12px;

}

