#find{
	margin-top: 5%;
}

/*section plans ===========================================================================================*/

#plans{
	margin-top: 5%;
	/*padding-left: 3%;*/
}
#plan-head{
	margin-top: 3%;
	margin-bottom: 9%;
}
#plan-head  > h2{
	color: #252525;
}
.div-txt{
	background-color: #f2f2f2;
	padding: 5% 3% 5% 5%;
	margin-left: 3%;
	/*box-shadow: 2px 3px #eeeeee;*/

}

.div-txt:hover{
	-webkit-box-shadow: 0 7px 14px -6px #6b6b6b;
	-moz-box-shadow: 0 7px 14px -6px #6b6b6b;
	transition:all .3s ease-in-out;
}

#three { 
	margin-left: 10%;
}
.div-txt > h4{
	font-size: 22px;
	font-family: Ubuntu;
	letter-spacing: 3px;
	color: #252525;
	font-weight: bold;

}
.save{
	font-size: 15px;
}
.div-txt > span{
	font-size: 28px;
	vertical-align: middle;
	/*font-weight: bold;*/
	font-family: Ubuntu;
	letter-spacing: 2px;
	line-height: 40px;
	color: #252525;
}

#pay-link{
	margin-top: 5%;
	font-size: 20px;
	color: #EB6A2B;
}
#pay-link  > a{
	color: #EB6A2B;
}

footer{
	margin-top: 5%;
}
