<!DOCTYPE html>
<html>
<head>
	<title>FAQs</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="header.css">
	<link rel="stylesheet" type="text/css" href="faq.css">

</head>
<body>
	<header>
		<nav class="navbar navbar-default" id="top-nav" role="navigation">
				<div class="container container-fluid">
					<div class="navbar-header center-block">
						<a class="navbar-brand" href="{% url 'home' %}">
							<img class = "center-block" alt="Brand" id="lawyered-logo" src="https://s3-ap-southeast-1.amazonaws.com/prelawyered/logo.png">
						</a>	

						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right"id="top-ul">
							<li class="top-links"><a class="links-a" href="/advisory">advisory</a></li>
							<li class="top-links"><a class="links-a"href="#">search</a></li>
							<li class="top-links"><a class="links-a" href="#">legal disrupt</a></li>	
							<li class="top-links modalcheck">
								<a  class="btn btn-default button2"href="{% url 'lawyer_customer_signin' %}">Sign In</a>
								
							</li>
						</ul>
					</div>	
				</div>				
		</nav>
	</header>
	<div class="container">
		<div class="row col-xs-10" id="page-title">
			<h3>HERE ARE A FEW QUESTIONS THAT WILL</h3><br>
		</div>

	<section id="search">
		<div class="row">
		<div class="col-xs-10">
			<h4>
				ADVISORY
			</h4>
			<hr>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
				    <div class="panel-heading" id = "question-block" role="tab" id="headingOne">
				    	<div class="col-xs-1 right-angle" >
				    		<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				    			<img src="down.png" id = "bullet">
				    		</a>	
				
				    	</div>
				      	<h5 class="panel-title" style="padding-top: 1%;" >
				        	
				          	How to claim my lawyer profile?
				      	</h5>
				    </div>
				    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
				      	<div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      	</div>
				    </div>
			  	</div>
			

				<div class="panel panel-default">
				    <div class="panel-heading" id = "question-block" role="tab" id="headingTwo">
				    	<div class="col-xs-1 right-angle" >
				    		<a class = "collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				    			<img src="center.png" style="vertical-align:;" class = "bullet" onclick="changeImage()">
				    		</a>	
				    	</div>
				      	<h5 class="panel-title" style="padding-top: 1%;">
				        	
				          	What are the terms of use?
				        
				      	</h5>
				    </div>
				    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				      	<div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      	</div>
				    </div>
			  	</div>

			
				<div class="panel panel-default">
				    <div class="panel-heading" id = "question-block" role="tab" id="headingThree">
				    	<div class="col-xs-1 right-angle" >
				    		<a class = "collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				    			<img src="center.png" style="vertical-align:;" class = "bullet" onclick="changeImage()">
				    		</a>	
				    	</div>
				      	<h5 class="panel-title" style="padding-top: 1%;">
				        	
				          	How do I reach on top of the search?
				        
				      	</h5>
				    </div>
				    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				      	<div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      	</div>
				    </div>
			  	</div>
			

			
				<div class="panel panel-default">
				    <div class="panel-heading" id = "question-block" role="tab" id="headingFour">
				    	<div class="col-xs-1 right-angle" >
				    		<a class = "collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
				    			<img src="center.png" style="vertical-align:;" class = "bullet" onclick="changeImage()">
				    		</a>	
				    	</div>
				      	<h5 class="panel-title" style="padding-top: 1%;">
				        	
				          	How can I update my profile?
				        
				      	</h5>
				    </div>
				    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
				      	<div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      	</div>
				    </div>
			  	</div>

			
				<div class="panel panel-default">
				    <div class="panel-heading" id = "question-block" role="tab" id="headingFive">
				    	<div class="col-xs-1 right-angle" >
				    		<a class = "collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
				    			<img src="center.png" style="vertical-align:;">
				    		</a>	
				    	</div>
				      	<h5 class="panel-title" style="padding-top: 1%;" class = "bullet" onclick="changeImage()">
				        	
				          	How to reset my password?
				        
				      	</h5>
				    </div>
				    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
				      	<div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      	</div>
				    </div>
			  	</div>
			  	

			  	<div class="panel panel-default">
				    <div class="panel-heading" id = "question-block" role="tab" id="headingSix">
				    	<div class="col-xs-1 right-angle" >
				    		<a class = "collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
				    			<img src="center.png" style="vertical-align:;" class = "bullet" onclick="changeImage()">
				    		</a>	
				    	</div>
				      	<h5 class="panel-title" style="padding-top: 1%;">
				        	
				          	How do I manage notification and subscriptions?
				        
				      	</h5>
				    </div>
				    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
				      	<div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      	</div>
				    </div>
			  	</div>

			  	<div class="panel panel-default">
				    <div class="panel-heading" id = "question-block" role="tab" id="headingSeven">
				    	<div class="col-xs-1 right-angle" >
				    		<a class = "collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
				    			<img src="center.png" style="vertical-align:;" class = "bullet" onclick="changeImage()">
				    		</a>	
				    	</div>
				      	<h5 class="panel-title" style="padding-top: 1%;">
				        	
				          	Who can write a review?
				        
				      	</h5>
				    </div>
				    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
				      	<div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      	</div>
				    </div>
			  	</div>

			  	<div class="panel panel-default">
				    <div class="panel-heading" id = "question-block" role="tab" id="headingEight">
				    	<div class="col-xs-1 right-angle" >
				    		<a class = "collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
				    			<img src="center.png" style="vertical-align:;" class = "bullet" onclick="changeImage()">
				    		</a>	
				    	</div>
				      	<h5 class="panel-title" style="padding-top: 1%;">
				        	
				          	Who can recommend a lawyer?
				        
				      	</h5>
				    </div>
				    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
				      	<div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      	</div>
				    </div>
			  	</div>

			  	<div class="panel panel-default">
				    <div class="panel-heading" id = "question-block" role="tab" id="headingNine">
				    	<div class="col-xs-1 right-angle" >
				    		<a class = "collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
				    			<img src="center.png" style="vertical-align:;" class = "bullet" onclick="changeImage()">
				    		</a>	
				    	</div>
				      	<h5 class="panel-title" style="padding-top: 1%;">
				        	
				          	How do I unpublish my profile?
				        
				      	</h5>
				    </div>
				    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
				      	<div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      	</div>
				    </div>
			  	</div>

			  	<div class="panel panel-default">
				    <div class="panel-heading" id = "question-block" role="tab" id="headingTen">
				    	<div class="col-xs-1 right-angle" >
				    		<a class = "collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
				    			<img src="center.png" style="vertical-align:;" class = "bullet" onclick="changeImage()">
				    		</a>	
				    	</div>
				      	<h5 class="panel-title" style="padding-top: 1%;">
				        	
				          	How do I delete my account?
				        
				      	</h5>
				    </div>
				    <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
				      	<div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      	</div>
				    </div>
			  	</div>

			</div>
		</div>
		</div>	  		
	</section>


	<section id="booking">
	<div class="row">
		<div class="col-xs-10" id="booking">
			<h4>
				SEARCH
			</h4>
			<hr>
			<div class="panel-group" id="accordion-two" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
				    <div class="panel-heading" id = "question-block" role="tab" id="bookingOne">
				    	<div class="col-xs-1 right-angle" >
				    		<a class = "collapsed" role="button" data-toggle="collapse" data-parent="#accordion-two" href="#cbookingOne" aria-expanded="false" aria-controls="cbookingOne">
				    			<img src="center.png" class = "bullet" onclick="changeImage()">
				    		</a>	
				
				    	</div>
				      	<h5 class="panel-title" style="padding-top: 1%;" >
				        	
				          	How do I manke use of booking?
				      	</h5>
				    </div>
				    <div id="cbookingOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="bookingOne">
				      	<div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      	</div>
				    </div>
			  	</div>
			

				<div class="panel panel-default">
				    <div class="panel-heading" id = "question-block" role="tab" id="bookingTwo">
				    	<div class="col-xs-1 right-angle" >
				    		<a class = "collapsed" role="button" data-toggle="collapse" data-parent="#accordion-two" href="#cbookingTwo" aria-expanded="false" aria-controls="cbookingTwo">
				    			<img src="center.png" style="vertical-align:;" class = "bullet" onclick="changeImage()">
				    		</a>	
				    	</div>
				      	<h5 class="panel-title" style="padding-top: 1%;">
				        	
				          	How to setup booking calendar?
				        
				      	</h5>
				    </div>
				    <div id="cbookingTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="bookingTwo">
				      	<div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      	</div>
				    </div>
			  	</div>

			
				<div class="panel panel-default">
				    <div class="panel-heading" id = "question-block" role="tab" id="headingThree">
				    	<div class="col-xs-1 right-angle" >
				    		<a class = "collapsed" role="button" data-toggle="collapse" data-parent="#accordion-two" href="#cbookingThree" aria-expanded="false" aria-controls="cbookingThree">
				    			<img src="center.png" style="vertical-align:;" class = "bullet" onclick="changeImage()">
				    		</a>	
				    	</div>
				      	<h5 class="panel-title" style="padding-top: 1%;">
				        	
				          	How to change consultation fee?
				        
				      	</h5>
				    </div>
				    <div id="cbookingThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="bookingThree">
				      	<div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      	</div>
				    </div>
			  	</div>
			

			
				<div class="panel panel-default">
				    <div class="panel-heading" id = "question-block" role="tab" id="bookingFour">
				    	<div class="col-xs-1 right-angle" >
				    		<a class = "collapsed" role="button" data-toggle="collapse" data-parent="#accordion-two" href="#bookingFour" aria-expanded="false" aria-controls="collapseFour">
				    			<img src="center.png" style="vertical-align:;" class = "bullet" onclick="changeImage()">
				    		</a>	
				    	</div>
				      	<h5 class="panel-title" style="padding-top: 1%;">
				        	
				          	How to give free consultations?
				        
				      	</h5>
				    </div>
				    <div id="bookingFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="bookingFour">
				      	<div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      	</div>
				    </div>
			  	</div>

			
				<div class="panel panel-default">
				    <div class="panel-heading" id = "question-block" role="tab" id="bookingFive">
				    	<div class="col-xs-1 right-angle" >
				    		<a class = "collapsed" role="button" data-toggle="collapse" data-parent="#accordion-two" href="#bookingFive" aria-expanded="true" aria-controls="bookingFive">
				    			<img src="center.png" style="vertical-align:;" class = "bullet" onclick="changeImage()">
				    		</a>	
				    	</div>
				      	<h5 class="panel-title" style="padding-top: 1%;">
				        	
				          	How will I be notified for bookings?
				        
				      	</h5>
				    </div>
				    <div id="bookingFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="bookingFive">
				      	<div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      	</div>
				    </div>
			  	</div>


			  	<div class="panel panel-default">
				    <div class="panel-heading" id = "question-block" role="tab" id="bookingSix">
				    	<div class="col-xs-1 right-angle" >
				    		<a class = "collapsed" role="button" data-toggle="collapse" data-parent="#accordion-two" href="#bookingSix" aria-expanded="false" aria-controls="bookingSix">
				    			<img src="center.png" style="vertical-align:;" class = "bullet" onclick="changeImage()">
				    		</a>	
				    	</div>
				      	<h5 class="panel-title" style="padding-top: 1%;">
				        	
				          	How do I cancel a booking?
				        
				      	</h5>
				    </div>
				    <div id="bookingSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="bookingSeven">
				      	<div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      	</div>
				    </div>
			  	</div>

			  	<div class="panel panel-default">
				    <div class="panel-heading" id = "question-block" role="tab" id="bookingEight">
				    	<div class="col-xs-1 right-angle" >
				    		<a class = "collapsed" role="button" data-toggle="collapse" data-parent="#accordion-two" href="#bookingEight" aria-expanded="false" aria-controls="bookingEigth">
				    			<img src="center.png" style="vertical-align:;" class = "bullet" onclick="changeImage()">
				    		</a>	
				    	</div>
				      	<h5 class="panel-title" style="padding-top: 1%;">
				        	
				          	How can I add/remove booking calendar from my profile?
				        
				      	</h5>
				    </div>
				    <div id="bookingEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="bookingEight">
				      	<div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      	</div>
				    </div>
			  	</div>

			  	<div class="panel panel-default">
				    <div class="panel-heading" id = "question-block" role="tab" id="bookingNine">
				    	<div class="col-xs-1 right-angle" >
				    		<a class = "collapsed" role="button" data-toggle="collapse" data-parent="#accordion-two" href="#bookingNine" aria-expanded="false" aria-controls="bookingNine">
				    			<img src="center.png" style="vertical-align:;" class = "bullet" onclick="changeImage()">
				    		</a>	
				    	</div>
				      	<h5 class="panel-title" style="padding-top: 1%;">
				        	
				          	How can I be sure if a booking has been made by an authentic client?
				        
				      	</h5>
				    </div>
				    <div id="bookingNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="bookingNine">
				      	<div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      	</div>
				    </div>
			  	</div>

			</div> 
		</div>
		</div>	 		
	</section>

	<section id="advisory">
	<div class="row">
		<div class="col-xs-10" id="advisory">
			<h4>
				BOOKING
			</h4>
			<hr>
			<div class="panel-group" id="accordion-three" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
				    <div class="panel-heading" id = "question-block" role="tab" id="advisoryOne">
				    	<div class="col-xs-1 right-angle" >
				    		<a role="button" data-toggle="collapse" data-parent="#accordion-three" href="#cadvisoryOne" aria-expanded="false" aria-controls="cadvisoryOne">
				    			<img src="center.png" class = "bullet" onclick="changeImage()">
				    		</a>	
				
				    	</div>
				      	<h5 class="panel-title" style="padding-top: 1%;" >
				        	
				          	How can I answer a question?
				      	</h5>
				    </div>
				    <div id="cadvisoryOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="advisoryOne">
				      	<div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      	</div>
				    </div>
			  	</div>
			

				<div class="panel panel-default">
				    <div class="panel-heading" id = "question-block" role="tab" id="advisory-two">
				    	<div class="col-xs-1 right-angle" >
				    		<a class = "collapsed" role="button" data-toggle="collapse" data-parent="#accordion-three" href="#cadvisory-two" aria-expanded="false" aria-controls="cadvisory-two">
				    			<img src="center.png">
				    		</a>	
				    	</div>
				      	<h5 class="panel-title" style="padding-top: 1%;">
				        	
				          	How can I share my answer on social media?
				        
				      	</h5>
				    </div>
				    <div id="cadvisory-two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="advisory-two">
				      	<div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      	</div>
				    </div>
			  	</div>

			
				<div class="panel panel-default">
				    <div class="panel-heading" id = "question-block" role="tab" id="advisory-three">
				    	<div class="col-xs-1 right-angle">
				    		<a class = "collapsed" role="button" data-toggle="collapse" data-parent="#accordion-three" href="#cadvisory-three" aria-expanded="false" aria-controls="cadvisory-three">
				    			<img src="center.png" style="vertical-align:;" class = "bullet" onclick="changeImage()">
				    		</a>	
				    	</div>
				      	<h5 class="panel-title" style="padding-top: 1%;">
				        	
				          	Can a lawyer ask a question?
				        
				      	</h5>
				    </div>
				    <div id="cadvisory-three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="advisory-three">
				      	<div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      	</div>
				    </div>
			  	</div>
			

			
				<div class="panel panel-default">
				    <div class="panel-heading" id = "question-block" role="tab" id="advisory-four">
				    	<div class="col-xs-1 right-angle" >
				    		<a class = "collapsed" role="button" data-toggle="collapse" data-parent="#accordion-three" href="#cadvisory-four" aria-expanded="false" aria-controls="cadvisory-four">
				    			<img src="center.png" style="vertical-align:;" class = "bullet" onclick="changeImage()">
				    		</a>	
				    	</div>
				      	<h5 class="panel-title" style="padding-top: 1%;">
				        	
				          	I want to delete my question or response, how can I do that?
				        
				      	</h5>
				    </div>
				    <div id="cadvisory-four" class="panel-collapse collapse" role="tabpanel" aria-labelledby="advisory-four">
				      	<div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      	</div>
				    </div>
			  	</div>

			
				<div class="panel panel-default">
				    <div class="panel-heading" id = "question-block" role="tab" id="advisory-five">
				    	<div class="col-xs-1 right-angle" >
				    		<a class = "collapsed" role="button" data-toggle="collapse" data-parent="#accordion-three" href="#cadvisory-five" aria-expanded="true" aria-controls="cadvisory-five">
				    			<img src="center.png" style="vertical-align:;" class = "bullet" onclick="changeImage()">
				    		</a>	
				    	</div>
				      	<h5 class="panel-title" style="padding-top: 1%;">
				        	
				          	Who can mark my answers helpful?
				        
				      	</h5>
				    </div>
				    <div id="cadvisory-five" class="panel-collapse collapse" role="tabpanel" aria-labelledby="advisory-five">
				      	<div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      	</div>
				    </div>
			  	</div>

			  	<div class="panel panel-default">
				    <div class="panel-heading" id = "question-block" role="tab" id="advisory-six">
				    	<div class="col-xs-1 right-angle" >
				    		<a class = "collapsed" role="button" data-toggle="collapse" data-parent="#accordion-three" href="#cadvisory-six" aria-expanded="true" aria-controls="cadvisory-six">
				    			<img src="center.png" style="vertical-align:;" class = "bullet" onclick="changeImage()">
				    		</a>	
				    	</div>
				      	<h5 class="panel-title" style="padding-top: 1%;">
				        	
				          	How do I respond to answers by other lawyers?
				        
				      	</h5>
				    </div>
				    <div id="cadvisory-six" class="panel-collapse collapse" role="tabpanel" aria-labelledby="advisory-six">
				      	<div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      	</div>
				    </div>
			  	</div>

			  	<div class="panel panel-default">
				    <div class="panel-heading" id = "question-block" role="tab" id="advisory-seven">
				    	<div class="col-xs-1 right-angle" >
				    		<a class = "collapsed" role="button" data-toggle="collapse" data-parent="#accordion-three" href="#cadvisory-seven" aria-expanded="true" aria-controls="cadvisory-seven">
				    			<img src="center.png" style="vertical-align:;" class = "bullet" onclick="changeImage()">
				    		</a>	
				    	</div>
				      	<h5 class="panel-title" style="padding-top: 1%;">
				        	
				          	I want to delete my question or response, how can I do that?
				        
				      	</h5>
				    </div>
				    <div id="cadvisory-seven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="advisory-seven">
				      	<div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      	</div>
				    </div>
			  	</div>
			  	</div>

			</div> 
		</div>		
	</section>	

	</div>


	<section>
		<div id = "fourth">
		<div class="container">
			<div class="row container">
				<div class="col-sm-10 " id="ques">
					<h4>Can't find your question?</h4>
					<span>
						Send us your question at <a href="#">info@lawyered.in</a> and we will get back to you!<br>
					</span>
				</div>	
			</div>
			</div>
		</div>		
	</section>


	<footer>
		<div class="container container-fluid" id="sec-container">
			<div class="row">
				<div class="col-sm-12">
					<div class="col-sm-2">
						<h4 class="block-header">LAWYERED.IN</h4><br>
						<span class="block-text">Ask question</span><br>
						<span class="block-text">Search a lawyer</span><br>
						<span class="block-text">Legal disrupt</span><br>
						<span class="block-text">How it works</span><br>
						<span class="block-text">FAQ</span><br>
						<span class="block-text">Site map</span><br>
					</div>
					<div class="col-sm-2 col-sm-offset-1">
						<h4 class="block-header">FOR LAWYERS</h4><br>
						<span class="block-text">Overview</span><br>
						<span class="block-text">Lawyered Plus</span><br>
						<span class="block-text">Register</span><br>
						<span class="block-text">Lawyer Support</span><br>
					</div>
					<div class="col-sm-2 col-sm-offset-1">
						<h4 class="block-header">CONNECT WITH US</h4><br>
						<span class="block-text">About us</span><br>
						<span class="block-text">Team</span><br>
						<span class="block-text">Career</span><br>
						<span class="block-text">Contact</span><br>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
						<h4 class="block-header">ASSISTANCE</h4><br>
						<span id="phn-number">011-41096677</span><br>
						<span class="block-text">Call us Monday-Saturday</span><br>
						<span class="block-text">9AM - 9PM IST</span><br>
						<h4 class="block-header">STAY UPDATED</h4><br>
						<div id="input-field">
							<input type="text" placeholder="Enter Your Email ID" id = "input-txt" style="background-color: #252525; 
							border: 2px solid white; font-style: italic;"><br><br>
						</div>
					</div>
					
				</div>
			</div>
				<div class="col-sm-12">
					<hr><br>
				</div>
					
				<div id = "footer-logo" class="row col-sm-4">
					<img src="https://s3-ap-southeast-1.amazonaws.com/prelawyered/logo.png" style = "height : 30%; width : 35%">
				</div>
				<div class="row">
				<div id = "footer-txt-conatiner" class="col-sm-12">
					<div class="col-sm-8" id="terms-txt"><br>
						<span style=""><i>All rights reserved. Lawyered provides information and software only. 
						Lawyered is not a "lawyer referral service" and does not provide legal advice or participate
						in any legal representaion. Lawyered is not a law firm or a substitute for an attorney or law firm.
						Use of  Lawyer is subject to our <a href="#" style="color: #EB6A2B; text-decoration: underline;">Terms of Service</a> and <a href="#" style="color: #EB6A2B; text-decoration: underline;">Privacy Policy.
						</a></i>
						</span>
					</div>
					<div class="col-sm-3 col-sm-offset-1 social-txt">
						<span><br>
							WE ARE SOCIAL @<br>
							<img src="icons/fb-white.png" style="height : 10%; width: 10%;">
							<img src="icons/twitter.gif" style="height : 10%; width: 8%; margin-left: 6%;">
							<img src="icons/link-white.png" style="height : 10%; width: 10%; margin-left: 6%;">
							<img src="icons/google-white.png" style="height : 10%; width: 8%; margin-left: 6%;">
						</span>
					</div>
				</div>
				</div>
			</div>
			</div>
		</div>		
	</footer>


	<script type="text/javascript">
		// document.getElementById("bullet").addEventListener("click", changeImage);
		// function changeImage() {
		// 	console.log(this.src);
		// 	// var ele = document.getElementsByClassName('bullet');
		// 	var x = this.parent
		// 	console.log(x.href)
		// 	if(this.src.match("center")){
		// 		this.src = "down.png";
		// 	}
		// 	else{
		// 		this.src = "center.png";
		// 	}
		// }
	</script>

</body>
</html>