<!DOCTYPE html>
<html>
<head>
	<title>Lawyered Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="header.css">
	<link rel="stylesheet" type="text/css" href="lawyered_home.css">

</head>
<body>
	<header>
		<nav class="navbar navbar-default" id="top-nav" role="navigation">
				<div class="container container-fluid">
					<div class="navbar-header center-block">
						<a class="navbar-brand" href="{% url 'home' %}">
							<img class = "center-block" alt="Brand" id="lawyered-logo" src="https://s3-ap-southeast-1.amazonaws.com/prelawyered/logo.png">
						</a>	

						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right"id="top-ul">
							<li class="top-links"><a class="links-a" href="/advisory">advisory</a></li>
							<li class="top-links"><a class="links-a"href="#">search</a></li>
							<li class="top-links"><a class="links-a" href="#">legal disrupt</a></li>	
							<li class="top-links modalcheck">
								<a  class="btn btn-default button2"href="{% url 'lawyer_customer_signin' %}">Sign In</a>
								
							</li>
						</ul>
					</div>	
				</div>				
		</nav>
	</header>

	<section id="top-banner" class="img-responsive">
		<div class="container banner-container">
			<div class="row">
				<div class="col-sm-11">
					<div class="row ask-butt-box">
						<div class="col-sm-10 first-txt">
							<h1>CONNECT WITH</h1>
							<!-- <div class="col-sm-6"> -->
							<h2>TOP QUALITY LAWYERS</h2>
							<h4 class="tagline">
								<i>Legal Solutions. Better. Easier. Faster.</i>	
							</h4><br><br><br>
							<!-- </div> -->
							
							<a  class="btn btn-default button2" id = "kn" href="#">Know more</a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="second">
		<div class="container container-fluid" id="sec-container">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-8" id="second-txt">
							<h2 style="color: #252525; ">A smart way to ask legal questions.</h2><br>
						</div>
					</div>

					<div class="row" id="sec-img-container">
						<div class="col-sm-5">
							<img src="imac.png" class="img-responsive" id="imac">
						</div>
						<div class="col-sm-5 col-sm-offset-1" id = "side-txt">
							<span id = "imac-txt">
								Receive multiple 	answers within 24 hours and get expert advice for free 
							</span><br><br><br>
							<a  class="btn btn-default button2"href="{% url 'lawyer_customer_signin' %}">ask a question</a>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</section>

	<section id="third">
		<div class="container container-fluid" id="sec-container">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-10" id="third-sec-txt">
							<h3>A network of highly experienced lawyers.</h3><br>
						</div>
					</div>
					<div class="row" id = "third-img-row">
						<div class="col-sm-5" id="network-txt">
							<span>
								Search our network and connect with lawyers for all your legal needs
							</span><br><br><br>
							<div id="search-btn">
								<a  class="btn btn-default button2"href="{% url 'lawyer_customer_signin' %}">search a lawyer</a>
							</div>
						</div>

						<div class="col-sm-3 col-sm-offset-3" id = "ipad-img">
							<img src="ipad.png" class="img-responsive">
						</div>
					</div>
				</div>
			</div>
		</div>		
	</section>
	<section id = "fourth">
		<div class="container container-fluid" id="sec-container">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-10" id="fourth-txt-1">
							<h3>Who recommends us</h3>
						</div>
					</div>
				</div>		
				<div class="row" id = "colored-divs">
						<div class="col-sm-12">
							<div class="col-sm-3">
								<div id="blue">
									<img src="icons/entreperneur.png"><br>
									<span style="color: black;">Startups</span>
								</div>
							</div>
							<div class="col-sm-3">
								<div id="yellow">
								<img src="icons/business.png"><br><span style="color: black;">Businesses</span>
								</div>
							</div>
							<div class="col-sm-3">	
									<div id="green">
									<img src="icons/investor.png"><br>
									<span style="color: black;">Investors</span>
								</div>
							</div>
							<div class="col-sm-3">	
								<div id="red">
									<img src="icons/freelancer.png"><br>
									<span style="color: black;">Freelancers</span>
								</div>
							</div>
						</div>	
				</div>
					<div class="row" >
						<div class="col-sm-8" id="fourth-txt-2">
							<h3>What people think about us</h3>
						</div>
						
					</div>	
					<div class="row">
						<div class="col-sm-12">
							<div class="col-sm-6" id="fourth-imgs">
								<div class="row icon-div">
									<div class="col-sm-6 smaller-img">
										<img src="images.jpg">
									</div>
									<div class="col-sm-6 feedback">
										<span>Get real time notificaitions straight to your inbox by Email or SMS.</span>
									</div>
								</div>

								<div class="row icon-div">
									<div class="col-sm-6" id="">
										<img src="images.jpg">
									</div>
									<div class="col-sm-6 feedback">
										<span id="">Drive more traffic by having a feature rich profile with real reviews and contact details.</span>
									</div>
								</div>
							</div>
							<div class="col-sm-6" id="bigger-img">
								<div class="row icon-div">
									<div class="col-sm-5" id="right-img-container">
										<img src="messi.jpg">
									</div>
									<div class="col-sm-5 bigger-block">
										<span>Save time and money that you would spend on acquiring new clients.</span>
									</div>
								</div>
							</div>
					</div>							
				</div>
			</div>
		</div>		
	</section>
	</div>

	<section id = "fifth">
		<div class="container container-fluid" id="fif-container">
			<div class="row">
				<div class="col-sm-11">
					<div class="row">
						<div class="col-sm-8" id="support">
							<h3>Not sure if you need a lawyer?</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-7" id="grey-block">
							<span>Find out your legal needs in just 30seconds.
							</span>
						</div>
						<div class="col-sm-2 col-sm-offset-2">	
							<a  class="btn btn-default button2"href="{% url 'lawyer_customer_signin' %}">get started</a>
						</div>
					</div>	
				</div>
			</div>
		</div>		
	</section>

	<section id  = sixth>
		<div class="container container-fluid" id="fif-container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-8" id="six-txt">
					<h3>Are You a lawyer?</h3><br>
					<span>Join the fastest growing online legal marketplace and get a chance to connect with your clients online.<br><br></span>
					<a  class="btn btn-default button2" id = "know-btn" href="#">know more</a>
				</div>
	</section>



	<footer>
		<div class="container container-fluid" id="sec-container">
			<div class="row">
				<div class="col-sm-12">
					<div class="col-sm-2">
						<h4 class="block-header">LAWYERED.IN</h4><br>
						<span class="block-text">Ask question</span><br>
						<span class="block-text">Search a lawyer</span><br>
						<span class="block-text">Legal disrupt</span><br>
						<span class="block-text">How it works</span><br>
						<span class="block-text">FAQ</span><br>
						<span class="block-text">Site map</span><br>
					</div>
					<div class="col-sm-2 col-sm-offset-1">
						<h4 class="block-header">FOR LAWYERS</h4><br>
						<span class="block-text">Overview</span><br>
						<span class="block-text">Lawyered Plus</span><br>
						<span class="block-text">Register</span><br>
						<span class="block-text">Lawyer Support</span><br>
					</div>
					<div class="col-sm-2 col-sm-offset-1">
						<h4 class="block-header">CONNECT WITH US</h4><br>
						<span class="block-text">About us</span><br>
						<span class="block-text">Team</span><br>
						<span class="block-text">Career</span><br>
						<span class="block-text">Contact</span><br>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
						<h4 class="block-header">ASSISTANCE</h4><br>
						<span id="phn-number">011-41096677</span><br>
						<span class="block-text">Call us Monday-Saturday</span><br>
						<span class="block-text">9AM - 9PM IST</span><br>
						<h4 class="block-header">STAY UPDATED</h4><br>
						<div id="input-field">
							<input type="text" placeholder="Enter Your Email ID" id = "input-txt" style="background-color: #252525; 
							border: 2px solid white; font-style: italic;"><br><br>
						</div>
					</div>
					
				</div>
			</div>
				<div class="col-sm-12">
					<hr><br>
				</div>
					
				<div id = "footer-logo" class="row col-sm-4">
					<img src="https://s3-ap-southeast-1.amazonaws.com/prelawyered/logo.png" style = "height : 30%; width : 35%">
				</div>
				<div class="row">
				<div id = "footer-txt-conatiner" class="col-sm-12">
					<div class="col-sm-8" id="terms-txt"><br>
						<span style=""><i>All rights reserved. Lawyered provides information and software only. 
						Lawyered is not a "lawyer referral service" and does not provide legal advice or participate
						in any legal representaion. Lawyered is not a law firm or a substitute for an attorney or law firm.
						Use of  Lawyer is subject to our <a href="#" style="color: #EB6A2B; text-decoration: underline;">Terms of Service</a> and <a href="#" style="color: #EB6A2B; text-decoration: underline;">Privacy Policy.
						</a></i>
						</span>
					</div>
					<div class="col-sm-3 col-sm-offset-1 social-txt">
						<span><br>
							WE ARE SOCIAL @<br>
							<img src="icons/fb-white.png" style="height : 10%; width: 10%;">
							<img src="icons/twitter.gif" style="height : 10%; width: 8%; margin-left: 6%;">
							<img src="icons/link-white.png" style="height : 10%; width: 10%; margin-left: 6%;">
							<img src="icons/google-white.png" style="height : 10%; width: 8%; margin-left: 6%;">
						</span>
					</div>
				</div>
				</div>
			</div>
			</div>
		</div>		
	</footer>


	
</body>
</html>

