<!DOCTYPE html>
<html>
<head>
	<title>Lawyered Career</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	

	<link rel="stylesheet" type="text/css" href="header.css">
	<link rel="stylesheet" type="text/css" href="lawyered_career.css">
</head>
<body>
	<header>
		<nav class="navbar navbar-default" id="top-nav" role="navigation">
				<div class="container container-fluid">
					<div class="navbar-header center-block">
						<a class="navbar-brand" href="{% url 'home' %}">
							<img class = "center-block" alt="Brand" id="lawyered-logo" src="https://s3-ap-southeast-1.amazonaws.com/prelawyered/logo.png">
						</a>	

						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right"id="top-ul">
							<li class="top-links"><a class="links-a" href="/advisory">advisory</a></li>
							<li class="top-links"><a class="links-a"href="#">search</a></li>
							<li class="top-links"><a class="links-a" href="#">legal disrupt</a></li>	
							<li class="top-links modalcheck">
								<a  class="btn btn-default button2"href="{% url 'lawyer_customer_signin' %}">Sign In</a>
								
							</li>
						</ul>
					</div>	
				</div>				
		</nav>
	</header>

	<section id="first">
		<div class="container banner-container">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-4 col-sm-offset-4" id="banner-heading" >
							<h1>COME JOIN US !</h1><br>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2" id="banner-txt">
							<h4>We believe in solving real problems.<br>
								We love what we do and never forget to have fun in and out of our office
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</section>

	<section id="second">
		<div class="container banner-container">
			<div class="row">
				<div class="col-sm-12">
					<div class="row devs">
						<div class="col-sm-1">
							<img src= "icons/python.png">
						</div>
						<div class="col-sm-5 sec-txt">
									<h4>Python developer</h4><br>
									<span>Develop back-end components, connect the application with the other (often third-party) 
									web services, and support the front-end developers by integrating it with the Python application.</span>
						</div>

						<div class="col-sm-1">
							<img src= "icons/android.png">
						</div>
						<div class="col-sm-5 sec-txt">
									<h4>Android developer</h4><br>
									<span>Design and build advanced applications for the Android platform. Continuously discover, evaluate, and implement new technologies to maximise development efficiency.</span>
								</div>
							</div>				


					
					<div class="row devs">
						<div class="col-sm-1">
									<img src= "icons/apple.png">
								</div>
								<div class="col-sm-5 sec-txt">
									<h4>IOS developer</h4><br>
									<span>Design and build advanced applications for the ios platform. Continuously discover, evaluate, and implement new technologies to maximise development efficiency.</span>
								</div>
						
						<div class="col-sm-1">
							<img src= "icons/frontend.png">
						</div>
						<div class="col-sm-5 sec-txt">
									<h4>Front end developer</h4><br>
									<span>Implement visual and interactive elements taht users engage with through their web browser when using a web application.</span>
						</div>
					</div>
					
					


			
					<div class="row devs">
						<div class="col-sm-1">
							<img src= "icons/content.png">
						</div>
						<div class="col-sm-5 sec-txt">
									<h4>Content writer</h4><br>
									<span>Implement visual and interactive elements taht users engage with through their web browser when using a web application.</span>
						</div>
	

						<div class="col-sm-1">
							<img src= "icons/design.png">
						</div>
						<div class="col-sm-5 sec-txt">
							<h4>Communication designer</h4><br>
							<span>Implement visual and interactive elements taht users engage with through their web browser when using a web application.</span>
						</div>
					</div>


				<hr>
				
				<div class="row lower">
					<div class="col-sm-12 lower-txt">
						<span>We are looking for pioneers in technology, design and law! If you are a start up enthusiast and love long working hour, come have a conversation with us and see how you can be a part of Lawyered. Mail us at <a href="#">careers@lawyered.in.</a><br><br>
						We will get back to you soon!</span>
					</div>
				</div>	
				</div>
			</div>		
		</div>
	</section>



	


	<section id="third">
		<div class="container banner-container">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-10 third-txt">
							<h4>What to know about the Lawyered Team?</h4><br>
							<span>Check out who is behind Lawyered.in</span><br>
							<a href="#">The Lawyered team</a>
						</div>
						<div class="col-sm-2">
							<img src="team.png">
						</div>						
					</div>
				</div>
			</div>
		</div>		
	</section>













	<footer>
		<div class="container container-fluid" id="sec-container">
			<div class="row">
				<div class="col-sm-12">
					<div class="col-sm-2">
						<h4 class="block-header">LAWYERED.IN</h4><br>
						<span class="block-text">Ask question</span><br>
						<span class="block-text">Search a lawyer</span><br>
						<span class="block-text">Legal disrupt</span><br>
						<span class="block-text">How it works</span><br>
						<span class="block-text">FAQ</span><br>
						<span class="block-text">Site map</span><br>
					</div>
					<div class="col-sm-2 col-sm-offset-1">
						<h4 class="block-header">FOR LAWYERS</h4><br>
						<span class="block-text">Overview</span><br>
						<span class="block-text">Lawyered Plus</span><br>
						<span class="block-text">Register</span><br>
						<span class="block-text">Lawyer Support</span><br>
					</div>
					<div class="col-sm-2 col-sm-offset-1">
						<h4 class="block-header">CONNECT WITH US</h4><br>
						<span class="block-text">About us</span><br>
						<span class="block-text">Team</span><br>
						<span class="block-text">Career</span><br>
						<span class="block-text">Contact</span><br>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
						<h4 class="block-header">ASSISTANCE</h4><br>
						<span id="phn-number">011-41096677</span><br>
						<span class="block-text">Call us Monday-Saturday</span><br>
						<span class="block-text">9AM - 9PM IST</span><br>
						<h4 class="block-header">STAY UPDATED</h4><br>
						<div id="input-field">
							<input type="text" placeholder="Enter Your Email ID" id = "input-txt" style="background-color: #e0e0e0; 
							border: 2px solid white;"><br><br>
						</div>
					</div>
					
				</div>
			</div>
				<div class="col-sm-12">
					<hr><br>
				</div>
					
				<div id = "footer-logo" class="row col-sm-4">
					<img src="https://s3-ap-southeast-1.amazonaws.com/prelawyered/logo.png" style = "height : 20%; width : 30%">
				</div>
				<div id = "footer-txt-conatiner" class="row col-sm-12">
					<div class="col-sm-8"><br>
					<span style="color: #e0e0e0;font-size: 13px;"><i>All rights reserved. Lawyered provides information and software only. 
					Lawyered is not a "lawyer referral service" and does not provide legal advice or participate
					in any legal representaion. Lawyered is not a law firm or a substitute for an attorney or law firm.
					Use of Rocket Lawyer is subject to our <a href="#" style="color: #EB6A2B; text-decoration: underline;">Terms of Service</a> and <a href="#" style="color: #EB6A2B; text-decoration: underline;">Privacy Policy.
					</a></i>
					</span>
					</div>
					<div class="col-sm-3 col-sm-offset-1 social-txt">
						<span><br>
							WE ARE SOCIAL @<br><br>
							<img src="icons/fb-white.png" style="height : 10%; width: 10%;">
							<img src="icons/twitter.gif" style="height : 10%; width: 8%; margin-left: 6%;">
							<img src="icons/link-white.png" style="height : 10%; width: 10%; margin-left: 6%;">
							<img src="icons/google-white.png" style="height : 10%; width: 8%; margin-left: 6%;">
						</span>
					</div>
				</div>
			</div>
			</div>
		</div>		
	</footer>


</body>
</html>	