<!DOCTYPE html>
<html>
<head>
	<title>Lawyered Payment</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	

	<link rel="stylesheet" type="text/css" href="header.css">
	<link rel="stylesheet" type="text/css" href="lawyered_contact.css">
	<link rel="stylesheet" type="text/css" href="lawyered_payment.css">
</head>
<body>
	<header>
		<nav class="navbar navbar-default" id="top-nav" role="navigation">
				<div class="container container-fluid">
					<div class="navbar-header center-block">
						<a class="navbar-brand" href="{% url 'home' %}">
							<img class = "center-block" alt="Brand" id="lawyered-logo" src="https://s3-ap-southeast-1.amazonaws.com/prelawyered/logo.png">
						</a>	

						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right"id="top-ul">
							<li class="top-links"><a class="links-a" href="/advisory">advisory</a></li>
							<li class="top-links"><a class="links-a"href="#">search</a></li>
							<li class="top-links"><a class="links-a" href="#">legal disrupt</a></li>	
							<li class="top-links modalcheck">
								<a  class="btn btn-default button2"href="{% url 'lawyer_customer_signin' %}">Sign In</a>
								
							</li>
						</ul>
					</div>	
				</div>				
		</nav>
	</header>

	<section id="main">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<h3>SUBSCRIPTION SUMMARY</h3><br>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6" id = "info-txt">
					<p>Name
					<span>Shashank Tiwari</span></p>
					<hr>
					<p>Subscription name
					<span>Lawyered PRO</span></p>
					<hr>
					<p>Subscription plan
					<span>Shashank Tiwari</span></p>
					<hr>
					<p>Subscription price
					<span>3 Month Plan</span></p>
					<hr>
					<p>Start Date
					<span>1st November, 2015</span></p>
					<hr>
					<p>End Date
					<span>1st February, 2016</span></p>
					<hr>
					<p>E-mail
					<span>shashank.tiwari@gmail.com</span></p>
					<hr>
					<p>Phone
					<span>+91-9813874536</span></p>
					<hr><br>
					<a  class="btn btn-default button2"href="{% url 'lawyer_customer_signin' %}">proceed to pay</a>
				</div>
				<div class="col-sm-4 col-sm-offset-1">
					<div id="grey-block">
						<p>Have more questions for us?</p><br>
						<span>Check out our lawyer support<br>
						Hope it covers all your questions!</span><br><br>
						<img src="questionmark_help.png">
						<a href="#">LAWYER SUPPORT</a>
					</div>
				</div>
			</div>
		</div>
	</section>

			<footer>
		<div class="container container-fluid" id="sec-container">
			<div class="row">
				<div class="col-sm-12">
					<div class="col-sm-2">
						<h4 class="block-header">LAWYERED.IN</h4><br>
						<span class="block-text">Ask question</span><br>
						<span class="block-text">Search a lawyer</span><br>
						<span class="block-text">Legal disrupt</span><br>
						<span class="block-text">How it works</span><br>
						<span class="block-text">FAQ</span><br>
						<span class="block-text">Site map</span><br>
					</div>
					<div class="col-sm-2 col-sm-offset-1">
						<h4 class="block-header">FOR LAWYERS</h4><br>
						<span class="block-text">Overview</span><br>
						<span class="block-text">Lawyered Plus</span><br>
						<span class="block-text">Register</span><br>
						<span class="block-text">Lawyer Support</span><br>
					</div>
					<div class="col-sm-2 col-sm-offset-1">
						<h4 class="block-header">CONNECT WITH US</h4><br>
						<span class="block-text">About us</span><br>
						<span class="block-text">Team</span><br>
						<span class="block-text">Career</span><br>
						<span class="block-text">Contact</span><br>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
						<h4 class="block-header">ASSISTANCE</h4><br>
						<span id="phn-number">011-41096677</span><br>
						<span class="block-text">Call us Monday-Saturday</span><br>
						<span class="block-text">9AM - 9PM IST</span><br>
						<h4 class="block-header">STAY UPDATED</h4><br>
						<div id="input-field">
							<input type="text" placeholder="Enter Your Email ID" id = "input-txt" style="background-color: #e0e0e0; 
							border: 2px solid white;"><br><br>
						</div>
					</div>
					
				</div>
			</div>
				<div class="col-sm-12">
					<hr><br>
				</div>
					
				<div id = "footer-logo" class="row col-sm-4">
					<img src="https://s3-ap-southeast-1.amazonaws.com/prelawyered/logo.png" style = "height : 20%; width : 30%">
				</div>
				<div id = "footer-txt-conatiner" class="row col-sm-12">
					<div class="col-sm-8"><br>
						<span style="color: #e0e0e0;font-size: 13px;"><i>All rights reserved. Lawyered provides information and software only. 
						Lawyered is not a "lawyer referral service" and does not provide legal advice or participate
						in any legal representaion. Lawyered is not a law firm or a substitute for an attorney or law firm.
						Use of Lawyer is subject to our <a href="#" style="color: orange; text-decoration: underline;">Terms of Service</a> and <a href="#" style="color: orange; text-decoration: underline;">Privacy Policy.
						</a></i>
						</span>
					</div>
				<div class="col-sm-3 col-sm-offset-1 social-txt">
					<span><br>
						WE ARE SOCIAL @<br><br>
						<img src="icons/fb-white.png" style="height : 10%; width: 10%;">
						<img src="icons/twitter.gif" style="height : 10%; width: 8%; margin-left: 6%;">
						<img src="icons/link-white.png" style="height : 10%; width: 10%; margin-left: 6%;">
						<img src="icons/google-white.png" style="height : 10%; width: 8%; margin-left: 6%;">
					</span>
				</div>
				</div>
			</div>
			</div>
		</div>		
	</footer>

</body>
</html>